<a href="https://colab.research.google.com/github/inuin09/BigLeader_Project/blob/main/%EC%BF%A0%ED%8C%A1_%EB%AC%B4_%EC%9D%B4%EB%A6%84%EC%A0%95%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive

In [2]:
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
import pandas as pd

In [15]:
train_df = pd.read_csv('/content/drive/MyDrive/쿠팡_무_이름.csv')

In [16]:
train_df

                                                   제품명
0                      \n    곰곰 친환경인증 절단 무, 500g, 1개\n
1             \n    햇 무 1개 1.5kg내외 팔팔마켓 강원도 큰 무우, kg\n
2           \n    무 고랭지 흙 무우 5kg 3개-4개 (택1) 아삭아삭, 단품\n
3    \n    제주무 5kg 10kg 월동무 세척무 겨울무 무 제주월동 햇무 한박스 무...
4                        \n    국내산 맛있는 햇 무, 1박스, 5kg\n
..                                                 ...
655                             \n    친환경인증 무 1입, 1개\n
656                   \n    친환경 인증 국내산 절단무, 400g, 1개\n
657                           \n    국내산 햇무, 900g, 1개\n
658                          \n    곰곰 친환경 무, 1kg, 1개\n
659                            \n    국내산 햇 무, 1입, 1개\n

[660 rows x 1 columns]

In [19]:
train_df

                                                   제품명
0                      \n    곰곰 친환경인증 절단 무, 500g, 1개\n
1             \n    햇 무 1개 1.5kg내외 팔팔마켓 강원도 큰 무우, kg\n
2           \n    무 고랭지 흙 무우 5kg 3개-4개 (택1) 아삭아삭, 단품\n
3    \n    제주무 5kg 10kg 월동무 세척무 겨울무 무 제주월동 햇무 한박스 무...
4                        \n    국내산 맛있는 햇 무, 1박스, 5kg\n
..                                                 ...
655                             \n    친환경인증 무 1입, 1개\n
656                   \n    친환경 인증 국내산 절단무, 400g, 1개\n
657                           \n    국내산 햇무, 900g, 1개\n
658                          \n    곰곰 친환경 무, 1kg, 1개\n
659                            \n    국내산 햇 무, 1입, 1개\n

[660 rows x 1 columns]

In [20]:
train_df = train_df.replace('\n','',regex=True)
train_df

                                                   제품명
0                              곰곰 친환경인증 절단 무, 500g, 1개
1                     햇 무 1개 1.5kg내외 팔팔마켓 강원도 큰 무우, kg
2                   무 고랭지 흙 무우 5kg 3개-4개 (택1) 아삭아삭, 단품
3        제주무 5kg 10kg 월동무 세척무 겨울무 무 제주월동 햇무 한박스 무우,...
4                                국내산 맛있는 햇 무, 1박스, 5kg
..                                                 ...
655                                     친환경인증 무 1입, 1개
656                           친환경 인증 국내산 절단무, 400g, 1개
657                                   국내산 햇무, 900g, 1개
658                                  곰곰 친환경 무, 1kg, 1개
659                                    국내산 햇 무, 1입, 1개

[660 rows x 1 columns]

In [21]:
train_df = train_df[~train_df['제품명'].str.contains("절단무",na=False, case=False)]
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 658 entries, 0 to 659
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품명     658 non-null    object
dtypes: object(1)
memory usage: 10.3+ KB

In [23]:
train_df.tail()

                                                제품명
654      생가지 가지 2Kg내외(11~14개입) 경북봉화 산지발송, 1개, 2kg내외
655                                  친환경인증 무 1입, 1개
657                                국내산 햇무, 900g, 1개
658                               곰곰 친환경 무, 1kg, 1개
659                                 국내산 햇 무, 1입, 1개

In [27]:
df = train_df[train_df['제품명'].str.contains('무')]
df.head()

                                                 제품명
0                            곰곰 친환경인증 절단 무, 500g, 1개
1                   햇 무 1개 1.5kg내외 팔팔마켓 강원도 큰 무우, kg
2                 무 고랭지 흙 무우 5kg 3개-4개 (택1) 아삭아삭, 단품
3      제주무 5kg 10kg 월동무 세척무 겨울무 무 제주월동 햇무 한박스 무우,...
4                              국내산 맛있는 햇 무, 1박스, 5kg

In [28]:
df.tail()

                       제품명
652      국내산 무, 900g이상, 1개
655         친환경인증 무 1입, 1개
657       국내산 햇무, 900g, 1개
658      곰곰 친환경 무, 1kg, 1개
659        국내산 햇 무, 1입, 1개

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 459 entries, 0 to 659
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품명     459 non-null    object
dtypes: object(1)
memory usage: 7.2+ KB

In [31]:
#총 상품의 수
len(df)

459

In [32]:
type(df)

pandas.core.frame.DataFrame

In [34]:
df.to_csv('무이름1.csv',mode='w',encoding='utf-8-sig')

In [35]:
df = df[~df['제품명'].str.contains("중국청무",na=False, case=False)]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 455 entries, 0 to 659
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품명     455 non-null    object
dtypes: object(1)
memory usage: 7.1+ KB

In [36]:
df = df[~df['제품명'].str.contains("알타리",na=False, case=False)]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 422 entries, 0 to 659
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품명     422 non-null    object
dtypes: object(1)
memory usage: 6.6+ KB

In [37]:
df = df[~df['제품명'].str.contains("총각무",na=False, case=False)]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 422 entries, 0 to 659
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품명     422 non-null    object
dtypes: object(1)
memory usage: 6.6+ KB

In [38]:
df = df[~df['제품명'].str.contains("초롱무",na=False, case=False)]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 420 entries, 0 to 659
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품명     420 non-null    object
dtypes: object(1)
memory usage: 6.6+ KB

In [39]:
df = df[~df['제품명'].str.contains("시래기",na=False, case=False)]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 401 entries, 0 to 659
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품명     401 non-null    object
dtypes: object(1)
memory usage: 6.3+ KB

In [40]:
df = df[~df['제품명'].str.contains("무말랭이",na=False, case=False)]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 342 entries, 0 to 659
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품명     342 non-null    object
dtypes: object(1)
memory usage: 5.3+ KB

In [41]:
df.to_csv('무이름2.csv',mode='w',encoding='utf-8-sig')

In [42]:
df = df[~df['제품명'].str.contains("절단 무",na=False, case=False)]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 338 entries, 1 to 659
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품명     338 non-null    object
dtypes: object(1)
memory usage: 5.3+ KB

In [43]:
df = df[~df['제품명'].str.contains("나박썰기",na=False, case=False)]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 334 entries, 1 to 659
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품명     334 non-null    object
dtypes: object(1)
memory usage: 5.2+ KB

In [44]:
df = df[~df['제품명'].str.contains("순무",na=False, case=False)]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 315 entries, 1 to 659
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품명     315 non-null    object
dtypes: object(1)
memory usage: 4.9+ KB

In [45]:
df = df[~df['제품명'].str.contains("건비트",na=False, case=False)]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 313 entries, 1 to 659
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품명     313 non-null    object
dtypes: object(1)
memory usage: 4.9+ KB

In [46]:
df = df[~df['제품명'].str.contains("청무칩",na=False, case=False)]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 310 entries, 1 to 659
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품명     310 non-null    object
dtypes: object(1)
memory usage: 4.8+ KB

In [47]:
df.to_csv('무이름3.csv',mode='w',encoding='utf-8-sig')

In [48]:
df = df[~df['제품명'].str.contains("수박무",na=False, case=False)]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 297 entries, 1 to 659
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품명     297 non-null    object
dtypes: object(1)
memory usage: 4.6+ KB

In [49]:
df = df[~df['제품명'].str.contains("중국",na=False, case=False)]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 286 entries, 1 to 659
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품명     286 non-null    object
dtypes: object(1)
memory usage: 4.5+ KB

In [50]:
df = df[~df['제품명'].str.contains("무채썰기",na=False, case=False)]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 283 entries, 1 to 659
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품명     283 non-null    object
dtypes: object(1)
memory usage: 4.4+ KB

In [51]:
df = df[~df['제품명'].str.contains("베지맛포",na=False, case=False)]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 282 entries, 1 to 659
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품명     282 non-null    object
dtypes: object(1)
memory usage: 4.4+ KB

In [52]:
df = df[~df['제품명'].str.contains("깍뚝썰기",na=False, case=False)]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 280 entries, 1 to 659
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품명     280 non-null    object
dtypes: object(1)
memory usage: 4.4+ KB

In [53]:
df = df[~df['제품명'].str.contains("국거리용",na=False, case=False)]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 278 entries, 1 to 659
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품명     278 non-null    object
dtypes: object(1)
memory usage: 4.3+ KB

In [54]:
df.to_csv('무이름4.csv',mode='w',encoding='utf-8-sig')

In [55]:
df = df[~df['제품명'].str.contains("파프리카",na=False, case=False)]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 277 entries, 1 to 659
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품명     277 non-null    object
dtypes: object(1)
memory usage: 4.3+ KB

In [56]:
df = df[~df['제품명'].str.contains("피망",na=False, case=False)]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 276 entries, 1 to 659
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품명     276 non-null    object
dtypes: object(1)
memory usage: 4.3+ KB

In [57]:
df = df[~df['제품명'].str.contains("씨앗",na=False, case=False)]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 235 entries, 1 to 659
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품명     235 non-null    object
dtypes: object(1)
memory usage: 3.7+ KB

In [58]:
df = df[~df['제품명'].str.contains("무차",na=False, case=False)]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 230 entries, 1 to 659
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품명     230 non-null    object
dtypes: object(1)
memory usage: 3.6+ KB

In [59]:
df = df[~df['제품명'].str.contains("흑무",na=False, case=False)]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 224 entries, 1 to 659
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품명     224 non-null    object
dtypes: object(1)
memory usage: 3.5+ KB

In [60]:
df = df[~df['제품명'].str.contains("비트",na=False, case=False)]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 212 entries, 1 to 659
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품명     212 non-null    object
dtypes: object(1)
memory usage: 3.3+ KB

In [61]:
df = df[~df['제품명'].str.contains("열무",na=False, case=False)]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 209 entries, 1 to 659
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품명     209 non-null    object
dtypes: object(1)
memory usage: 3.3+ KB

In [62]:
df.to_csv('무이름5.csv',mode='w',encoding='utf-8-sig')

In [63]:
df = df[~df['제품명'].str.contains("방울무",na=False, case=False)]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 205 entries, 1 to 659
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품명     205 non-null    object
dtypes: object(1)
memory usage: 3.2+ KB

In [64]:
df = df[~df['제품명'].str.contains("쌈무",na=False, case=False)]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 1 to 659
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품명     200 non-null    object
dtypes: object(1)
memory usage: 3.1+ KB

In [65]:
df = df[~df['제품명'].str.contains("무우후레이크",na=False, case=False)]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 195 entries, 1 to 659
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품명     195 non-null    object
dtypes: object(1)
memory usage: 3.0+ KB

In [66]:
df = df[~df['제품명'].str.contains("무 조각",na=False, case=False)]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 194 entries, 1 to 659
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품명     194 non-null    object
dtypes: object(1)
memory usage: 3.0+ KB

In [67]:
df = df[~df['제품명'].str.contains("무배",na=False, case=False)]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 191 entries, 1 to 659
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품명     191 non-null    object
dtypes: object(1)
memory usage: 3.0+ KB

In [68]:
df = df[~df['제품명'].str.contains("절인무",na=False, case=False)]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 191 entries, 1 to 659
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품명     191 non-null    object
dtypes: object(1)
memory usage: 3.0+ KB

In [69]:
df = df[~df['제품명'].str.contains("무오신채",na=False, case=False)]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 187 entries, 1 to 659
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품명     187 non-null    object
dtypes: object(1)
memory usage: 2.9+ KB

In [73]:
df.to_csv('무이름7.csv',header=False,index=False,encoding='utf-8-sig')

In [76]:
#엑셀에서 정말 정말 이상한 친구들을 직접 빼고 다시 파일을 불러옴
name = pd.read_csv('/content/sample_data/무이름_쿠팡.csv')
name

                                                   제품명
0                     햇 무 1개 1.5kg내외 팔팔마켓 강원도 큰 무우, kg
1                   무 고랭지 흙 무우 5kg 3개-4개 (택1) 아삭아삭, 단품
2        제주무 5kg 10kg 월동무 세척무 겨울무 무 제주월동 햇무 한박스 무우,...
3                                국내산 맛있는 햇 무, 1박스, 5kg
4                        영호네농산물 햇 황토 무10kg, 1box, 10kg
..                                                 ...
126                                  국내산 무, 900g이상, 1개
127                                     친환경인증 무 1입, 1개
128                                   국내산 햇무, 900g, 1개
129                                  곰곰 친환경 무, 1kg, 1개
130                                    국내산 햇 무, 1입, 1개

[131 rows x 1 columns]

In [77]:
name = name[~name['제품명'].str.contains("팩",na=False, case=False)]
name.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 122 entries, 0 to 130
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품명     122 non-null    object
dtypes: object(1)
memory usage: 1.9+ KB

In [78]:
name = name[~name['제품명'].str.contains("사각무",na=False, case=False)]
name.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 122 entries, 0 to 130
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품명     122 non-null    object
dtypes: object(1)
memory usage: 1.9+ KB

In [79]:
name = name[~name['제품명'].str.contains("무청",na=False, case=False)]
name.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 121 entries, 0 to 130
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품명     121 non-null    object
dtypes: object(1)
memory usage: 1.9+ KB

In [80]:
name = name[~name['제품명'].str.contains("국용",na=False, case=False)]
name.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 0 to 130
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품명     118 non-null    object
dtypes: object(1)
memory usage: 1.8+ KB

In [82]:
name.to_csv('무이름9.csv',header=False,index=False,encoding='utf-8-sig')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 0 to 130
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품명     118 non-null    object
dtypes: object(1)
memory usage: 1.8+ KB

In [85]:
#총 상품의 수
len(name)

118